.imagen-car {
    max-width: 50%;
    max-height: 50%;
  }
  .contenedor-autos{
    margin: 50px;
  }
  .card{
    border: 1px solid rgb(138, 99, 14) !important;
    border-radius: 1% !important;
    box-shadow: 10px 10px 10px #888888 !important; 
    background-color: #000000 !important;
    /* margin-bottom: 50px !important; */
    margin: 30px !important;
  }
  .nombre-moto{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #888888;
    font-family: 'Cinzel', serif;
    font-weight: bold !important;
    letter-spacing: 2px;
  }