.imagen {
    max-width: 100%;
    max-height: 100%;
    
  }
  .contenedor-autos{
    margin: 50px;
  }
  .card{
    border: 1px solid rgb(138, 99, 14) !important;
    border-radius: 1% !important;
    box-shadow: 10px 10px 10px #888888 !important; 
    background-color: #000000 !important;
    /* margin-bottom: 50px !important; */
    margin: 30px !important;
  }
  .nombre-auto{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #888888;
    font-family: 'Cinzel', serif;
    font-weight: bold !important;
    letter-spacing: 2px;
  }
  /* Detalles del Producto */
.div-nombre{
    width: 500px !important;
    height: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 2px !important;
    text-align: center;
    font-family: 'Cinzel';
    color: black;
    box-shadow: 10px 10px 10px #888888 !important;
}
.h1-nombre{
    color:white;
  text-shadow: 1px 1px 2px white;
}
.texto-carta{
  text-align-last: center;
}
.precio{
color: aliceblue;
font-family:'Times New Roman', Times, serif;
margin: 25px 25px;
}
.contador{
  color: aliceblue !important;
  margin: 25px 25px;
  
}
.estilo{
  font-family:'Cinzel', serif;
  color:aliceblue;
  margin: 25px 25px;
}
.stock{
  color: aliceblue;
  margin: 25px 25px;
}
.boton-volver{
  margin: 25px 25px;
}
.boton-agregar{
margin-top: 20px;
}
.mb-2{
    color: aliceblue;
    margin: 25px 25px;
  }