.imagen-car {
  max-width: 50%;
  max-height: 50%;
}
.contenedor-autos{
  margin: 50px;
}
.card{
  border: 1px solid rgb(138, 99, 14) !important;
  border-radius: 1% !important;
  box-shadow: 10px 10px 10px #888888 !important; 
  background-color: #000000 !important;
  /* margin-bottom: 50px !important; */
  margin: 30px !important;
}
.nombre-auto{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.cuerpo-carta{
  align-self: center;
  text-align-last: center;
}
button a {
text-decoration: none !important;
color: rgb(77, 77, 77) !important;
font-family: 'Beau Rivage', cursive;
font-size: 20px !important;
font-weight: bold !important;
letter-spacing: 2px;
}
/* NavBar */
.contenedor-navbar{
 padding: 0px !important;
}
.hijo-navbar{
  background-color:rgb(167, 124, 32);
 }
.icono-navbar{
  font-family: 'Beau Rivage', cursive;
  font-size: 30px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}
/* Desplegable */
hr{
  color: rgb(226, 188, 15) !important;
}
.padre-desplegable{
  background-color: #000000 !important;
}
.cabezera-desplegable{
  padding-bottom: 0px !important;
  align-self: center;
  font-family:'Times New Roman', Times, serif;
  color: rgb(114, 112, 112) !important;
 
 
}
.pe-3 {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(114, 112, 112) !important;
    
}
.pe-3 a{
  text-decoration: none;
  text-align: center;
  color: rgb(167, 124, 32);
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.pe-3 a:hover{
  color: #888888;
}
.d-flex{
  justify-content: center;
  padding-top: 10px;
}
.palabra-carrito{
  margin-top: 100px !important;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
    color: rgb(114, 112, 112) !important;
}
.carrito-desplegable{
  
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 2px #888888;
  font-family: 'Cinzel', serif;
  font-weight: bold !important;
  letter-spacing: 2px;
}
.carrito-desplegable a{
  color: rgb(167, 124, 32);
  text-align: center;
  font-size: 20px;
  font-weight:bolder
}
.carrito-desplegable a:hover{
  color: #888888;
}
 
/* Detalles del Producto */
.div-nombre{
    width: 500px !important;
    height: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 2px !important;
    text-align: center;
    font-family: 'Cinzel';
    color: black;
    box-shadow: 10px 10px 10px #888888 !important;
}
.h1-nombre{
  text-shadow: 1px 1px 2px rgb(167, 124, 32);
}
.texto-carta{
  text-align-last: center;
}
.precio{
color: aliceblue;
font-family:'Times New Roman', Times, serif;
margin: 25px 25px;
}
.contador{
  color: aliceblue !important;
  
}
.estilo{
  font-family:'Cinzel', serif;
  color:aliceblue;
  margin: 25px 25px;
}
.stock{
  color: aliceblue;
  margin: 25px 25px;
}
.boton-volver{
  color: aliceblue;
  margin: 25px 25px;
}
.boton-agregar{
  color: aliceblue;
margin-top: 20px;
}